body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

h1 {
    color: black
}

.box {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    width: fit-content;
}

.bold-text {
    font-weight: bold;
}

select {
    padding: 5px;
    font-size: 16px;
}

.forecast {
    display: inline-block;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 5px;
}